<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.steveproxna.simpsons" android:versionCode="5" android:versionName="1.1.0" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
  <application android:label="Simpsons Trivia" android:icon="@drawable/Icon">
    <meta-data android:name="android.max_aspect" android:value="2.1" />
  </application>
</manifest>