<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.steveproxna.simpsons" android:versionCode="4" android:versionName="1.0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" />
	<application android:label="Simpsons Trivia" android:icon="@drawable/Icon">
		<meta-data android:name="android.max_aspect" android:value="2.1" />    
	</application>
</manifest>